Kelompok 1 PBF :

1. Rendi Alexander Hutagalung (122450057)

‚Å†2.  Andre Hadiman Rotua Parhusip (122450108)

3. Khoirul Anam (122450039)

4. Lisa Diani Amelia (122450021)

5. Cintya Bella ( 122450066)

In [7]:
from functools import reduce

def remove_duplicates_map_reduce(input_list):
    # Menggunakan map untuk membuat pasangan (elemen, index) dari input_list
    elements_index = map(lambda x: (x, input_list.index(x)), input_list)

    # Menggunakan reduce untuk menggabungkan tuple (elemen, index) yang unik
    unique_elements = reduce(lambda a, b: a + [b] if b not in a else a, elements_index, [])

    # Mengembalikan elemen unik dari unique_elements
    return [element[0] for element in unique_elements]

# Contoh penggunaan
data = [1, 2, 3, 4, 2, 3, 5]
result = remove_duplicates_map_reduce(data)
print(result)

[1, 2, 3, 4, 5]